
#artistcard{
    background-color: #D9D9D9;
    width: 300px;
    height: 300px;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

            img{
                width: 280px;
                height: auto;
                margin: 0.6rem;
            }

            h3{
                text-align: left;
                font-size: 20px;
                margin: 0;
                margin-left: 10px;
            }
}

@media screen and (max-width: 430px),(min-width:4000px){
    

}