
#artistcard{
    background-color: #D9D9D9;
    width: 300px;
    height: 300px;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

            img{
                width: 280px;
                height: auto;
                margin: 0.6rem;
            }

            h3{
                text-align: left;
                font-size: 20px;
                margin: 0;
                margin-left: 10px;
            }
}

/* Brukt kode hentet fra W3schools for å få media queries til å fungere. Hentet fra : https://www.w3schools.com/css/css3_mediaqueries.asp Dato: 05.05.25. */
@media screen and (min-width: 480px) {
    .flexartistcard{
        display: flex;
        flex-wrap: wrap;
    }

}