//Hoved overskrift for kategori-siden 
.categoryheading{
    text-transform: capitalize;
    font-size: 50px;
    text-align: center;
    text-decoration: underline #25C0D5;
}

//Under overskrifter for kategori-siden
h3{
    padding: 0;
    margin:0px;
    text-decoration: underline #25C0D5;
}

// Skjemaene for filtrering og søk.
.filterSearchForm{
    display: flex;
    flex-wrap:wrap;
    flex-direction: column;
    text-align: left;
    margin-left: 10px;
    padding: 5px;
    width: 50px;
    gap: 15px;

        label{
                input{
                    color:#1D4274;
                    padding:4px;
                    font-weight: bold;
                    border: 1px solid #1D4274;
                    border-radius: 5px;
                    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
                    cursor: pointer;
                }
        }
}

// "Velg By" og "Velg Land" knapper i søkeskjemaet.
.selectbtn{
    color:#1D4274;
    padding:4px;
    border-radius: 5px;
    font-weight: bold;
    border-color: #1D4274;
    text-transform: capitalize;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.searchFormstyling{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 10px;
    padding: 0;
    justify-content: left;
            button{
                margin-top: 20px;
                padding:5px;
                color: #ffffff;
                background-color: #1D4274;
                cursor: pointer;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            }
            button:hover{
                background-color: #25C0D5;
                color: #1D4274;
                cursor: pointer;
                transition: background-color 0.3s ease; // Forslag fra githubCopilot. (linje 40)
                text-decoration: none;
            }
}

.searchHeading{
          font-size: 15px;
          margin: 10px;     
}

.filtersearchbtn{
    width: 100px;
}

//Attraksjonsseksjon på kategori-siden
.attractionSection{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 4rem;
    justify-content: center;
}

.atractionheading{
    font-size: 30px;
    margin: 0;
    padding: 40px 0px 40px 0px;;
}

.heartIconbtn{
    background-color: transparent;
    border:none;
    font-size: 20px;
}

.arrangementflex{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

.spillestedflex{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

@media screen and (min-width: 430px) {
    .filterSearchForm{
       display: inline;
         
        label{
                margin: 30px;
                
                    input{
                       color:#1D4274;
                       padding:10px;
                       font-weight: bold;
                       border: 1px solid #1D4274;
                       border-radius: 5px;
                       box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
                       cursor: pointer;
                    }
            }
    .selectbtn{
        color:#1D4274;
        padding:10px;
        border-radius: 5px;
        font-weight: bold;
        border-color: #1D4274;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        text-transform:capitalize;
        cursor: pointer;
    }
}
}