//Denne her vil bli likt styla på både festivalpassene og på de ulike arrangementene på home. Bare så dere er klar over det. Var krav i oppgava og gjenbruke eventcard.

//Artikkelkortene til festivalpassene og arrangementene på både Home og EventPage.
.articleClassPass{
    background-color: #D9D9D9;
    width: 330px;
    height: 430px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    overflow: hidden; /* Har brukt kode fra W3schools på linje 12-15 for å få teksten til å gå over flere linjer. 
    Hentet fra : https://www.w3schools.com/cssref/css3_pr_text-overflow.php Dato: 06.05.25*/
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); // Tatt i bruk forslag fra githubCopilot. (linje 14-15)
    margin: 2rem;
    

            img{
                width: 280px;
                height: 150px;
                margin: 0px 0px 10px 25px;
                object-fit: cover; /* Har brukt kode fra W3Schools for å få bildene i like stor str i hvert av artikkelkortene. 
                Hentet fra: https://www.w3schools.com/css/css3_object-fit.asp Dato:05.05.2025.*/
                
            }
        

                h3{
                    text-align: left;
                    font-size: 20px;
                    margin: 0;
                    margin-left: 10px;
                    color: #1D4274;
                }

                    p{
                        text-align: left;
                        font-size: 12px;
                        margin: 0;
                        margin-left: 10px;
                        color: #1D4274;
                        word-wrap:break-word; /*Kode fra W3Shcools. Hentet fra:https://www.w3schools.com/cssref/css3_pr_word-wrap.php Dato: 06.05.25*/
                    }

                    a{
                        text-decoration: none;
                        color: #1D4274;
                        font-size: 12px;
                        margin-left: 10px;
                    }
                        button{
                            cursor: pointer;
                        }
}

//Knapper i artikkelkortene.
.favorittbtn{
    background-color: #1D4274;
    color: #ffff;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    padding: 10px 20px;
    margin: 10px;
    transition: background-color 0.3s ease; 
    text-decoration: none;
    cursor: pointer; /*Har brukt kode fra W3Schools for å få en peker når man hovrer over knapp. Hentet
    fra: https://www.w3schools.com/cssref/pr_class_cursor.php . Dato: 05.05.25 */
}

.favorittbtn:hover{
    background-color: #25C0D5;
    color: #1D4274;
}
/*
.kjopbtn{
    display: flex;
    margin-left: 10px;
    margin-top: 5px;
    background-color: #1D4274;
    color: #fff;
    font-size: 15px;
    max-width: 50%;
    max-height: 100%;
    border: none;
    text-align: center;
    cursor: pointer; /*Har brukt kode fra W3Schools for å få en peker når man hovrer over knapp. Hentet
    fra: https://www.w3schools.com/cssref/pr_class_cursor.php . Dato: 05.05.25
}


.kjopbtn:hover{
    background-color: #25C0D5;
    color: #1D4274;
}
    */

ul{
    display: flex;
    flex-wrap: wrap;
}


/* Brukt kode hentet fra W3schools for å få media queries til å fungere. Hentet fra : https://www.w3schools.com/css/css3_mediaqueries.asp Dato: 05.05.25. */
@media screen and (min-width: 430px) {
    
}