main{
    text-align: left;
    border-top: 3px solid #25C0D5;

    .myprofile{
        width: 320px;
        border-radius: 10px;
        border: 2px solid #25C0D5;
        padding: 10px;
        h2{
            font-size: 16px;
            text-decoration: none;
        }
    
        .imgMe{
            width: 200px;
            height: 200;
            object-fit: cover;
        }
        p{
            font-size: 15px;
            margin: 0px;
        }
    }


    .friends{
        display: flex;
        flex-direction: column;
        gap: 40px;
        width: 320px;
        margin-top: 30px;


        h2{
            font-size: 16px;
            width: 100%;
        }
        img{
            width: 130px;
            height: 160px;
            object-fit: cover;
        }
        p{
            margin-top: 0px;
        }
    }
    .bakgrunn{
        background-color: #D9D9D9;
        border-radius: 10px;
        padding: 10px;
    }
    .text{
        margin-top: 0;
        width: 300px;
    }
}

/* Brukt kode hentet fra W3schools for å få media queries til å fungere. Hentet fra : https://www.w3schools.com/css/css3_mediaqueries.asp Dato: 05.05.25. */
@media screen and (min-width: 480px) {
    main{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;


        .friends{
            display: flex;
            flex-direction: row;
            gap: 40px;
        }

        .eventkort{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            h2{
                width: 100%;
            }

        }

        .myprofile{
            h2{
                font-size: 20px;
            }
        
            .imgMe{
                width: 300px;
                height: auto;
            }
            p{
                font-size: 15px;
                margin: 0px;
            }
        }
    }

}
