main{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: left;

    h2{
        font-size: 20px;
    }

    .imgMe{
        width: 250px;
        height: auto;
    }

    .imgFriend{
        width: 150px;
        height: auto;
    }

    p{
        font-size: 15px;
        font-weight: 400;
        margin-top: 20px;
    }
}