img{
    width: 300px;
    height: auto;
}
.mittkjop{
    border-bottom: 3px solid #25C0D5;
    h3{
        margin-bottom: 0px;
    }
    p{
        color: #1D4274;
        font-size: 15px;
        margin-top: 0px;
    }
}

.sjanger{
    border-bottom: 3px solid #25C0D5;
    h3{
        margin-bottom: 0px;
    }
    p{
        color: #1D4274;
        font-size: 15px;
        margin-top: 0px;
    }
}

.wishlist{
    border-top: 3px solid #25C0D5;
}