nav{
    img{
        width: 130px;
        height: auto;
    }

    ul{
        padding: 0;
        justify-content: center;
        
        li{
            flex-direction: column;
            list-style: none;
            background-color: #1D4274;
            
            padding: 5px 5px;
            margin: 10px;
            border-radius: 3px;

            a{
                color: #ffffff;
                font-size: 15px;
            }
        }
    }
    a:hover{
        color: #1d4274;
        background-color: #ffffff;
    }

    .button{
        background-color: #1D4274;
        color: #ffffff;
        padding: 5px 10px;
    }
}




/* Brukt kode for media query på linje 34 fra: https://www.w3schools.com/css/css3_mediaqueries.asp */
@media screen and (min-width: 480px){
}