nav{
    max-width: 400px;
    img{
        width: 130px;
        height: auto;
    }

    button{
        background-color: #1D4274;
        color: #ffffff;
        padding: 3px;
        margin-right: 10px;
        margin-bottom: 10px;
    }

    a{
        text-decoration: none;
        color: #1D4274;
    }

    ul{
        padding: 0;
        justify-content: center;
        
        li{
            flex-direction: column;
            list-style: none;
            background-color: #1D4274;
            
            padding: 5px 5px;
            margin: 10px;
            border-radius: 3px;

            a{
                color: #ffffff;
                font-size: 15px;
            }
        }
    }
    a:hover{
        color: #1d4274;
        background-color: #ffffff;
    }

    .button{
        background-color: #1D4274;
        color: #ffffff;
        padding: 5px 10px;
    }
}




/* Brukt kode for media query på linje 34 fra: https://www.w3schools.com/css/css3_mediaqueries.asp */
@media screen and (min-width: 480px){
    nav{
        min-width: 1200px;
        display: flex;
        justify-content: space-between;

        ul{
            align-content: center;

            li{
                margin: 25px;

                a{
                    font-size: 20px;
                    font-weight: 500;
                }
            }
        }

        .button{
            background-color: #1d4274;
            color: #ffffff;
            font-weight: 400;
            font-size: 16px;
            margin-top: 40px;
            margin-bottom: 10px;
            height: 30px;
            border-radius: 3px;
            align-content: center;
        }
    }

}
