.sanityeventdesign{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100vw;

    section{

        h3{
            text-align: center;
        }
    }
}

.imgEvent{
    height: auto;
    width: 300px;
}

.inwishlist{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100vw;
    margin-top: 3rem;
}

.eventbilde{
    width: 300px;
    height: 250px;
    object-fit: cover;
}



    .artikkelkort{
        text-align: left;
        flex-direction: row;
    }




@media screen and (min-width: 430px) {

    .imgEvent{
        width: 800px;
    }


    inwishlist{
        flex-direction: row;
        flex-wrap: wrap;

        h3{
            width: 100%;
        }
    }

    

}